{% load static %}


{% if instructor|length < 1 %}

<img src="{% static 'img/course_not_found.gif' %}" alt="" style="margin-left: 25%; ">




{% else %}
{% for i in instructor %}
<div class="col-md pb-4 pb-md-7">
    <div class="card border shadow p-2 lift">
        <!-- Image -->
        <div class="card-zoom position-relative" >
            <div class="card-float card-hover right-0 left-0 bottom-0 mb-4">
                <ul class="nav mx-n4 justify-content-center">
                    {% comment %} <li class="nav-item px-4">
                        <a href="#" class="d-block text-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a href="#" class="d-block text-white">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a href="#" class="d-block text-white">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a href="#" class="d-block text-white">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li> {% endcomment %}
                </ul>
            </div>

            <a href="/instructor/{{i.id}}" class="card-img sk-thumbnail img-ratio-4 card-hover-overlay d-block"><img class="rounded shadow-light-lg img-fluid" src="{{i.author_profile}}" alt="..."></a>
        </div>

        <!-- Footer -->
        <div class="card-footer px-3 pt-4 pb-1">
            <a href="/instructor/{{i.id}}" class="d-block"><h5 class="mb-0">{{i.name}}</h5></a>
            <span class="font-size-d-sm">{{i.domain}}</span>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}