{% load static  %}


    <style>
        .addspace{
            margin-top:-6px;
            margin-right : 13px;
        }


        .fa fa-user-circle{
            margin-right : 13px;

        }
    </style>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">


          {% comment %} <!-- Search -->
          <form class="d-none d-wd-flex ms-5 w-xl-450p">
            <div class="input-group border rounded">
                <div class="input-group-prepend">
                    <button class="btn btn-sm my-2 my-sm-0 text-secondary icon-xs d-flex align-items-center" type="submit">
                        <!-- Icon -->
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z" fill="currentColor"/>
                            <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z" fill="currentColor"/>
                        </svg>

                    </button>
                </div>
                <input class="form-control form-control-sm border-0 ps-0" type="search" placeholder="What do you want to learn ?" aria-label="Search">
            </div>
        </form>
         {% endcomment %}

         
         {% comment %} <div class="searchspace">
        <form class="form-inline" method ="get" action="{% url 'search_course' %}">
          
            <input class="form-control mr-sm-2" type="search" placeholder="Search Courses" aria-label="Search" name="query">
            
          </form>

    
        </div> {% endcomment %}
{% comment %} 
     <div class = "addspace">
        <form class="mb-4" method ="get" action="{% url 'search_course' %}" >
            <div class="input-group" style>
                <input class="form-control form-control-sm border-end-0 shadow-none" type="search" placeholder="Search Courses" aria-label="Search" name="query">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-white border-start-0 text-dark bg-transparent" type="submit">
                        <!-- Icon -->
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.80758 0C3.95121 0 0 3.95121 0 8.80758C0 13.6642 3.95121 17.6152 8.80758 17.6152C13.6642 17.6152 17.6152 13.6642 17.6152 8.80758C17.6152 3.95121 13.6642 0 8.80758 0ZM8.80758 15.9892C4.8477 15.9892 1.62602 12.7675 1.62602 8.80762C1.62602 4.84773 4.8477 1.62602 8.80758 1.62602C12.7675 1.62602 15.9891 4.8477 15.9891 8.80758C15.9891 12.7675 12.7675 15.9892 8.80758 15.9892Z" fill="currentColor"/>
                            <path d="M19.762 18.6121L15.1007 13.9509C14.7831 13.6332 14.2687 13.6332 13.9511 13.9509C13.6335 14.2682 13.6335 14.7831 13.9511 15.1005L18.6124 19.7617C18.7712 19.9205 18.9791 19.9999 19.1872 19.9999C19.395 19.9999 19.6032 19.9205 19.762 19.7617C20.0796 19.4444 20.0796 18.9295 19.762 18.6121Z" fill="currentColor"/>
                        </svg>

                    </button>
                </div>
            </div>
        </form>

     </div> {% endcomment %}


                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about_us'%}" class="nav-item nav-link">About</a>
     
               <a href="{% url 'single_course' %}" class="nav-item nav-link">Courses</a>
                    
                    

                

                <a href="#" class="nav-item nav-link">My Cart</a>
        
                <a href="{% url 'contact_us' %}" class="nav-item nav-link">Contact</a>
            </div>
            {% if request.user.is_authenticated %}
                <div class="addspace">
            <div class="nav-item dropdown">
                <a class="mb-0 text-sm  font-weight-normal nav-link dropdown-toggle" data-bs-toggle = "dropdown">Welcome <span class="fa fa-user-circle"></span> <strong> {{user.username|upper}}</strong></a>
              
                <div class="dropdown-menu fade-down m-0">
                    <a href="{% url 'profile' %}" class="dropdown-item">Profile Update</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    <a href="{% url 'mycourse' %}" class="dropdown-item">Enrolled courses</a>
                </div>
            </div>
            
        </div>
        <a href="{% url 'logout' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block nav-item nav-link" >Logout<i class="fa fa-arrow-right ms-3"></i></a>
            {% else %}
            {% comment %} <div class="nav-item dropdown" style="margin-right:7px;"> {% endcomment %}
            <a href="{% url 'login' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block " >Join Now</a>
            {% comment %} <div class="dropdown-menu fade-down m-0">
                <a href="{% url 'login' %}" class="dropdown-item">Login as User</a>
                <a href="{% url 'instructor_login' %}" class="dropdown-item">Login as Instructor</a>

            </div> {% endcomment %}
        </div>
        
        {% endif %}
          
        </div>
    </nav>
  
    <!-- Navbar End -->

